Faker-*
Faker-*/*
blib/
.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
Makefile
Makefile.old
MANIFEST.bak
META.yml
MYMETA.yml
nytprof.out
pm_to_blib
.vim/.netrwhist
tags
/.carton
/.vagrant
/eg
/share/dumps/*
/log/*
cpanfile.*
vagrantfile
/devel/*
*.swp
*.komodoproject
